.articles {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #FAFAFA;

    &__posts {
        display: flex;
        gap: 30px;
    }

    &__post {
        background-color: #fff;
        &-image {
            margin-bottom: 25px;
            height: 200px;
            overflow: hidden;
            border-radius: 5px 5px 0 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-author,
        &-title,
        &-content {
            padding: 0 24px;
        }

        &-author {
            color: #9597A5;
            font-size: 10px;
            margin-bottom: 8px;
        }

        &-title {
            font-size: 16px;
            margin-bottom: 8px;
            color: #2D314D;
            line-height: 20px;
        }

        &-content {
            color: #9597A5;
            font-size: 13px;
            line-height: 18px;
            padding-bottom: 24px;
        }
    }

    @media only screen and (max-width: 920px) {
        &__posts {
            flex-direction: column;
            align-items: center;
        }

        &__post {
            max-width: 500px;
        }
    }
}