@import "normalize";
@import "mixins";
@import "fonts";
@import "header";
@import "hero-image";
@import "reasons";
@import "articles";
@import "footer";

// General Style
html {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

.container {
    padding-left: 165px;
    padding-right: 165px;

    @media only screen and (max-width: 920px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

// Button
button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn-primary {
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    padding: 8px 34px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;

    &:hover {
        background: linear-gradient(to right, #ffffff66, #ffffff66), linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    }
}

// Headline
.headline {
    text-align: center;
    
    h1 {
        font-weight: 300;
        font-size: 56px;
        margin-bottom: 24px;
    }

    p {
        font-size: 18px;
        color:#9597A5;
        margin-bottom: 36px;
        line-height: 28px;
    }

    @media only screen and (max-width: 920px) {
        h1 {
            font-size: 40px;
            margin-bottom: 16px;
            margin-top: 0;
            max-width: none;
        }

        p {
            font-size: 15px;
            margin-bottom: 32px;
            max-width: none;
        }
    }
}